.article a {
  text-decoration: none;
  font-weight: 500;
}

.article a:link, .article a:visited {
  color: #0099e5;
}

.article p {
  margin-bottom: 12px;
}

@media (max-width: 480px) {
 .layout {
  flex-flow: column;
 }
}