.ripple {
  position: relative;
  overflow: hidden;
}
.ripple:after {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  padding-top: 200%;
  padding-left: 200%;
  opacity: 0;
  transition: all 0.5s
}
.ripple:active:after {
  padding-top: 0;
  padding-left: 0;
  opacity: 1;
  transition: 0s
}